In [5]:
#Using list comprehension
with open('airlines.csv', mode='rU') as f:
    file_list = [row for row in f]

In [6]:
# Using CSV module
import csv
with open('airlines.csv', mode='rU') as f:
    file_nested_list = [row for row in csv.reader(f)]

# separate the header and data
header = file_nested_list[0]
data = file_nested_list[1:]

In [ ]:
'''
EXERCISES:

1. Create a list containing the average number of incidents per year for each airline.
Example for Aer Lingus: (2 + 0)/30 = 0.07
Expected output: [0.07, 2.73, 0.23, ...]

2. Create a list of airline names (without the star).
Expected output: ['Aer Lingus', 'Aeroflot', 'Aerolineas Argentinas', ...]

3. Create a list (of the same length) that contains 1 if there's a star and 0 if not.
Expected output: [0, 1, 0, ...]

4. BONUS: Create a dictionary in which the key is the airline name (without the star)
   and the value is the average number of incidents.
Expected output: {'Aer Lingus': 0.07, 'Aeroflot': 2.73, ...}
'''

In [30]:
print [(int(airline[2])+int(airline[5]))/30.0 for airline in data]

[0.06666666666666667, 2.7333333333333334, 0.23333333333333334, 0.26666666666666666, 0.13333333333333333, 0.6666666666666666, 0.2, 0.26666666666666666, 0.3333333333333333, 0.36666666666666664, 0.3333333333333333, 1.2666666666666666, 0.06666666666666667, 0.16666666666666666, 0.3333333333333333, 0.06666666666666667, 0.4666666666666667, 0.06666666666666667, 0.1, 1.6, 0.4, 0.06666666666666667, 1.0, 0.03333333333333333, 0.4666666666666667, 0.13333333333333333, 0.03333333333333333, 0.3, 0.1, 0.13333333333333333, 0.26666666666666666, 0.43333333333333335, 0.1, 0.3, 0.2, 0.6, 0.3, 0.2, 0.26666666666666666, 0.36666666666666664, 0.6, 0.13333333333333333, 0.1, 0.3, 0.2, 0.16666666666666666, 0.13333333333333333, 0.5, 0.0, 0.3333333333333333, 0.5333333333333333, 1.1, 0.9, 0.26666666666666666, 0.03333333333333333, 0.36666666666666664]

In [32]:
a_incidence = []
for airline in data:
    sum1 = int(airline[2]) + int(airline[5])
    div1 = 30.00
    a_incidence.append(sum1/div1)
print a_incidence

[0.06666666666666667, 2.7333333333333334, 0.23333333333333334, 0.26666666666666666, 0.13333333333333333, 0.6666666666666666, 0.2, 0.26666666666666666, 0.3333333333333333, 0.36666666666666664, 0.3333333333333333, 1.2666666666666666, 0.06666666666666667, 0.16666666666666666, 0.3333333333333333, 0.06666666666666667, 0.4666666666666667, 0.06666666666666667, 0.1, 1.6, 0.4, 0.06666666666666667, 1.0, 0.03333333333333333, 0.4666666666666667, 0.13333333333333333, 0.03333333333333333, 0.3, 0.1, 0.13333333333333333, 0.26666666666666666, 0.43333333333333335, 0.1, 0.3, 0.2, 0.6, 0.3, 0.2, 0.26666666666666666, 0.36666666666666664, 0.6, 0.13333333333333333, 0.1, 0.3, 0.2, 0.16666666666666666, 0.13333333333333333, 0.5, 0.0, 0.3333333333333333, 0.5333333333333333, 1.1, 0.9, 0.26666666666666666, 0.03333333333333333, 0.36666666666666664]

In [27]:
airline_names =[]
for airline in data:
    if airline[0][-1]=="*":
        airline_names.append(airline[0][:-1])
    else:
        airline_names.append(airline[0])
print airline_names

['Aer Lingus', 'Aeroflot', 'Aerolineas Argentinas', 'Aeromexico', 'Air Canada', 'Air France', 'Air India', 'Air New Zealand', 'Alaska Airlines', 'Alitalia', 'All Nippon Airways', 'American', 'Austrian Airlines', 'Avianca', 'British Airways', 'Cathay Pacific', 'China Airlines', 'Condor', 'COPA', 'Delta / Northwest', 'Egyptair', 'El Al', 'Ethiopian Airlines', 'Finnair', 'Garuda Indonesia', 'Gulf Air', 'Hawaiian Airlines', 'Iberia', 'Japan Airlines', 'Kenya Airways', 'KLM', 'Korean Air', 'LAN Airlines', 'Lufthansa', 'Malaysia Airlines', 'Pakistan International', 'Philippine Airlines', 'Qantas', 'Royal Air Maroc', 'SAS', 'Saudi Arabian', 'Singapore Airlines', 'South African', 'Southwest Airlines', 'Sri Lankan / AirLanka', 'SWISS', 'TACA', 'TAM', 'TAP - Air Portugal', 'Thai Airways', 'Turkish Airlines', 'United / Continental', 'US Airways / America West', 'Vietnam Airlines', 'Virgin Atlantic', 'Xiamen Airlines']

In [28]:
airline_binary=[]
for airline in data:
    if airline[0][-1]=="*":
        airline_binary.append(1)
    else:
        airline_binary.append(0)
print airline_binary

[0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]

In [35]:
air_dict = dict(zip(airline_names,a_incidence))
air_dict

{'Aer Lingus': 0.06666666666666667,
 'Aeroflot': 2.7333333333333334,
 'Aerolineas Argentinas': 0.23333333333333334,
 'Aeromexico': 0.26666666666666666,
 'Air Canada': 0.13333333333333333,
 'Air France': 0.6666666666666666,
 'Air India': 0.2,
 'Air New Zealand': 0.26666666666666666,
 'Alaska Airlines': 0.3333333333333333,
 'Alitalia': 0.36666666666666664,
 'All Nippon Airways': 0.3333333333333333,
 'American': 1.2666666666666666,
 'Austrian Airlines': 0.06666666666666667,
 'Avianca': 0.16666666666666666,
 'British Airways': 0.3333333333333333,
 'COPA': 0.1,
 'Cathay Pacific': 0.06666666666666667,
 'China Airlines': 0.4666666666666667,
 'Condor': 0.06666666666666667,
 'Delta / Northwest': 1.6,
 'Egyptair': 0.4,
 'El Al': 0.06666666666666667,
 'Ethiopian Airlines': 1.0,
 'Finnair': 0.03333333333333333,
 'Garuda Indonesia': 0.4666666666666667,
 'Gulf Air': 0.13333333333333333,
 'Hawaiian Airlines': 0.03333333333333333,
 'Iberia': 0.3,
 'Japan Airlines': 0.1,
 'KLM': 0.26666666666666666,
 'Kenya Airways': 0.13333333333333333,
 'Korean Air': 0.43333333333333335,
 'LAN Airlines': 0.1,
 'Lufthansa': 0.3,
 'Malaysia Airlines': 0.2,
 'Pakistan International': 0.6,
 'Philippine Airlines': 0.3,
 'Qantas': 0.2,
 'Royal Air Maroc': 0.26666666666666666,
 'SAS': 0.36666666666666664,
 'SWISS': 0.16666666666666666,
 'Saudi Arabian': 0.6,
 'Singapore Airlines': 0.13333333333333333,
 'South African': 0.1,
 'Southwest Airlines': 0.3,
 'Sri Lankan / AirLanka': 0.2,
 'TACA': 0.13333333333333333,
 'TAM': 0.5,
 'TAP - Air Portugal': 0.0,
 'Thai Airways': 0.3333333333333333,
 'Turkish Airlines': 0.5333333333333333,
 'US Airways / America West': 0.9,
 'United / Continental': 1.1,
 'Vietnam Airlines': 0.26666666666666666,
 'Virgin Atlantic': 0.03333333333333333,
 'Xiamen Airlines': 0.36666666666666664}