In [3]:
import pandas as pd

In [4]:
# read in the drinks data
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent']
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
drinks = pd.read_csv(url, header=0, names=drink_cols, na_filter=False)

In [5]:
## 3. Display a dataframe where only the rows are those with continent North America
drinks[drinks.continent == 'NA'].sort_index(by ='spirit').head()

/home/ddan/anaconda2/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from IPython.kernel.zmq import kernelapp as app

         country  beer  spirit  wine  liters continent
109       Mexico   238      68     5     5.5        NA
69     Guatemala    53      69     2     2.2        NA
54   El Salvador    52      69     2     2.2        NA
41    Costa Rica   149      87    11     4.4        NA
84       Jamaica    82      97     9     3.4        NA

In [6]:
## 4. Create new data frame called north_america that holds your answer in 1
north_america = drinks[drinks.continent == 'NA']

In [7]:
## 5. Average wine consumption per person per year in africa
drinks[drinks.continent=='AF'].wine.mean()

16.264150943396228

In [8]:
#top 10 spirit drinking countries
drinks.sort('spirit',ascending=False)[0:10]

/home/ddan/anaconda2/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from IPython.kernel.zmq import kernelapp as app

                country  beer  spirit  wine  liters continent
68              Grenada   199     438    28    11.9        NA
15              Belarus   142     373    42    14.4        EU
73                Haiti     1     326     1     5.9        NA
141  Russian Federation   247     326    73    11.5        AS
144           St. Lucia   171     315    71    10.1        NA
72               Guyana    93     302     1     7.1        SA
155            Slovakia   196     293   116    11.4        EU
50             Dominica    52     286    26     6.6        NA
169            Thailand    99     258     1     6.4        AS
40         Cook Islands     0     254    74     5.9        OC

In [9]:
# Average wine consumption in South America
drinks.wine[drinks.continent=='SA'].mean()

62.416666666666664

In [10]:
# Average consumption of all alcohol across continents
drinks.groupby('continent').mean()

                 beer      spirit        wine    liters
continent
AF          61.471698   16.339623   16.264151  3.007547
AS          37.045455   60.840909    9.068182  2.170455
EU         193.777778  132.555556  142.222222  8.617778
NA         145.434783  165.739130   24.521739  5.995652
OC          89.687500   58.437500   35.625000  3.381250
SA         175.083333  114.750000   62.416667  6.308333

In [11]:
# Which continent has the highest on average wine consumption
drinks.groupby('continent').mean().sort('wine',ascending=False)

/home/ddan/anaconda2/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from IPython.kernel.zmq import kernelapp as app

                 beer      spirit        wine    liters
continent
EU         193.777778  132.555556  142.222222  8.617778
SA         175.083333  114.750000   62.416667  6.308333
OC          89.687500   58.437500   35.625000  3.381250
NA         145.434783  165.739130   24.521739  5.995652
AF          61.471698   16.339623   16.264151  3.007547
AS          37.045455   60.840909    9.068182  2.170455

In [12]:
drinks.groupby('continent').wine.mean().sort_values(ascending=False)

continent
EU    142.222222
SA     62.416667
OC     35.625000
NA     24.521739
AF     16.264151
AS      9.068182
Name: wine, dtype: float64

In [13]:
pd.__version__
# I was encountering an error: 'Series' object has no attribute 'sort_values'
# turns out my pandas is 1 version too old (0.16.0)
# solved with - condas update pandas

u'0.19.0'